.doces{

    .faixa{
        width: 100%;
    }

    .faixa img{
        display: flex;
        width: 100%;
        position: relative;
        margin-bottom: 50px;
    }

    .faixa-dois{
        width: 40%;
        padding: 20px;
        background-color: #FFDACF;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        font: 400 20px 'K2D';
        border-radius: 30px;
    }

    .faixa-dois select{
        
        display: flex;
        justify-content: center;
        align-items: center;
        font: 500 16px 'K2D';
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 10px;
        background-color: #FFC5B4;
        border: none;
        color: #50301e;
    }

    .cards{
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 30px;
        margin: 50px 40px;

    }

    .add-card a{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 361px ;
        width: 271px;
        gap: 30px;
        text-decoration: none;
        font: 600 18px 'K2D';
        color: #50301e;
        background-color: #f8d6d0;
        border-radius: 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    }

    .conteudo{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
 }