.card-unidade{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    margin: 10px 10px 10px 10px;
    background-color: #FFDACF; 
    flex-direction: row;
    border-radius: 10px;
    align-items: start;
    color: #50301e;
    gap: 30px ;
    min-width: 100%;

    .imagem{
        display: flex;
        border-radius: 10px;
    }

    .resto-unidade{
        display: flex;
        margin-left: 10px;
        font: 500 24px "K2D";
        gap: 60px;
        flex-direction: column;
    }

    .cima{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .loc{
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: flex-start;
        align-items: center;
    }
    
    .hour{
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: flex-start;
        align-items: center;

    }

    .maps{
        display: flex;
        align-items: center;
        gap: 10px;
    } 

    .maps a{
        color:#0059ca;
        text-decoration: none;
    }

    .baixo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .lixeira{
        cursor: pointer;
    }
}