
.unidades{

    .conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px;
    }
    
    .adicionar a{
        display: flex;
        width: 1200px;
        height: 90px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color:#FFDACF ;
        gap: 20px;
        font: 500 20px 'Arial';
        text-decoration: none;
        color: #50301e;
        border-radius: 20px;
    }

    
}