.salgados {
    .faixa {
        width: 100%;
    }

    .faixa img {
        width: 100%;
        margin-bottom: 50px;
        display: block; // Altera para block para evitar espaços desnecessários
    }

    .faixa-dois {
        width: 40%;
        padding: 20px;
        background-color: #FFDACF;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        font: 400 20px 'K2D';
        border-radius: 30px;

        @media (max-width: 768px) {
            width: 70%;
            flex-direction: column;
            padding: 15px; // Ajuste de padding em telas menores
        }
        
        @media (max-width: 480px) {
            width: 90%;
        }
    }

    .faixa-dois select {
        display: flex;
        justify-content: center;
        align-items: center;
        font: 500 16px 'K2D';
        padding: 5px 10px;
        border-radius: 10px;
        background-color: #FFC5B4;
        border: none;
        color: #50301e;
    }

    .cards {
        display: flex; // Adicionado para flexbox
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 50px 40px;
        flex-wrap: wrap; // Permitir quebra de linha em telas menores

        @media (max-width: 768px) {
            margin: 30px 20px; // Ajuste de margem em telas menores
        }
    }

    .add-card a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 361px;
        width: 271px;
        gap: 30px;
        text-decoration: none;
        font: 600 18px 'K2D';
        color: #50301e;
        background-color: #f8d6d0;
        border-radius: 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        @media (max-width: 768px) {
            width: 90%;
            height: auto;
        }
    }

    .conteudo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}
