.pagina-produto{
    display: flex;
    width: 100%;
    background-color: #FFDACF;
    margin:30px;
    padding-bottom: 50px;
    flex-direction: row;

    header{
        padding: 10px 30px;
    }

    header h1{
        font: 500 40px 'K2D';
        color: #888888;
    }

    .conteudo{
        display: flex ;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }

    .conteudo img{
        width: 30%;
    }

    .resto{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 40%;
        gap: 40px;
    }

    .resto h1{
        font: 700 40px 'K2D';
        color: #50301e;
    }

    .resto p{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .preco{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
    }

}