.encomendas {
    .conteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .add {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 700px;
        padding: 25px;
        border-radius: 30px;
        background-color: #FFDACF;
        font: 600 25px 'K2D';
        gap: 20px;
        text-decoration: none;
        color: #50301e;
        margin-top: 30px;

        @media (max-width: 768px) {
            width: 90%;
            font-size: 20px;
        }
    }

    .faixa {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFDACF;
        padding: 25px 45px;
        border-radius: 21px;

        @media (max-width: 768px) {
            width: 90%;
            padding: 15px 20px;
        }
    }

    .faixa select {
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        font: 500 15px 'K2D';
        padding: 5px 10px;
        border-radius: 10px;
        background-color: #FFC5B4;
        border: none;
        color: #50301e;

        @media (max-width: 768px) {
            width: 100%; // Aumenta a largura em telas menores
            max-width: 150px; // Limita a largura máxima
        }
    }

    .cards-encomendas {
        display: flex;
        gap: 20px;
        flex-wrap: wrap; // Permite que os cards quebrem para a próxima linha em telas menores
        justify-content: center; // Centraliza os cards
    }
}
