.encomendas {
    .conteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .add {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%; // Alterado para 90% para telas menores
        max-width: 700px; // Limite máximo
        padding: 25px;
        border-radius: 30px;
        background-color: #FFDACF;
        font: 600 25px 'K2D';
        gap: 20px;
        text-decoration: none;
        color: #50301e;
        margin-top: 30px;

        @media (max-width: 768px) {
            font-size: 20px;
            padding: 15px; // Ajusta o padding para telas menores
        }
    }

    .faixa {
        width: 90%; // Alterado para 90%
        max-width: 60%; // Limite máximo
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFDACF;
        padding: 25px 45px;
        border-radius: 21px;

        @media (max-width: 768px) {
            padding: 15px 20px; // Ajusta o padding para telas menores
            flex-direction: column; // Alinha os itens em coluna
            align-items: stretch; // Estica os itens
        }
    }

    .faixa select {
        width: 100%; // Alterado para 100%
        max-width: 150px; // Limita a largura máxima
        display: flex;
        justify-content: center;
        align-items: center;
        font: 500 15px 'K2D';
        padding: 5px 10px;
        border-radius: 10px;
        background-color: #FFC5B4;
        border: none;
        color: #50301e;
    }

    .cards-encomendas {
        display: flex;
        gap: 20px;
        width: 90%; // Alterado para 90%
        max-width: 1150px; // Limite máximo
        flex-wrap: wrap;
        align-items: center;

        @media (max-width: 768px) {
            flex-direction: column; // Muda para coluna em telas menores
            width: 100%; // Alterado para 100%
        }
    }
}

.rodape {
    position: static;
    bottom: 0;
    display: flex;
    padding: 20px;
    background-color: #FFD8D8;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; 

    .principal {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 30%;

        @media (max-width: 768px) {
            flex-direction: column; // Muda para coluna em telas menores
            gap: 10%; // Ajusta o espaço entre os itens
        }
    }

    .meio {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10%;
    }

    nav {
        display: flex;
        width: 100%;
        gap: 20%; // Alterado para 20%
        justify-content: center;

        @media (max-width: 768px) {
            flex-direction: column; 
            gap: 20%; // Ajusta o espaço entre os links
        }
    }

    nav a {
        text-decoration: none;
        font: 600 20px 'K2D';
        color: #50301e;

        @media (max-width: 768px) {
            font-size: 18px; // Ajusta o tamanho da fonte em telas menores
        }
    }
}