.cabecalho {
    .principal {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
  
  
      .menu-toggle {
        display: none;
        flex-direction: column;
        cursor: pointer;
  
        .bar {
          height: 4px;
          width: 25px;
         
          margin: 3px 0;
          transition: 0.4s;
        }
      }
  
      nav {
        display: flex;
        gap: 20px;
  
        a {
          text-decoration: none;
         
        }
      }
  
      @media (max-width: 768px) {
        .menu-toggle {
          display: flex;
        }
  
        nav {
          display: none;
          flex-direction: column;
          position: absolute;
          top: 60px; 
          left: 0;
          background-color: #ffd8d8;
          width: 100%;
          z-index: 1;
  
          &.active {
            display: flex;
          }
  
          a {
            padding: 10px;
            border-bottom: 1px solid 
          }
        }
      }
    }
  }