.add-prod{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;

    .conteudo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px;
    }
    
    .interativo{
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
    }

    .adicionar{
        display: flex;
        width: 900px;
        align-items: center;
        justify-content: space-around;
        background-color: #FFDACF;
        gap: 30px;
        margin: 30px;
        padding: 30px;
        border-radius: 20px;
    }

    .barra{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 81px;
        border-radius: 20px;
        background-color: #FFDACF;
        color: #50301e;
    }

    .titulo-produto{
        width: 580px;
        font: 500 16px 'K2D';
        padding: 10px 20px;
        border-radius: 10px;
        background-color: #FFC5B4;
        
    }

    select{
        width: 580px;
        display: flex;
        justify-content: center;
        align-items: center;
        font: 500 16px 'K2D';
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 10px;
        background-color: #FFC5B4;
        border: none;
        color: #50301e;
    }

    .inputs{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
        flex-direction: column;
    }

    input{
        background-color: #ffcdbe;
        border: none;
        padding: 15px 25px;
        border-radius: 10px;

    }

    button{
        border: none;
        padding: 10px 25px;
        border-radius: 10px;
        background-color: #FFcdbe;
        cursor: pointer;
    }

    .imagem input{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    textarea{
        width: 580px;
        height: 100px;
        border-radius: 10px;
        font: 500 16px 'K2D';
        padding: 15px 20px;
        background-color: #FFc8b7;
        border: none;
    }

    .baixo{
        width: 580px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .inputs-check{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .zero{
        display: flex;
        background-color:#FFc8b7;
        padding: 10px;
        border-radius: 10px;
        gap: 15px;
    }

    .diet{
        display: flex;
        background-color:#FFc8b7;
        padding: 10px;
        border-radius: 10px;
        gap: 15px;
    }

    .inputs-check label{
        font: 400 14px 'K2D';
        color: #50301e;
    }

    .inputs-check{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction:row;
        gap: 20px;
    }

    #picture__input {
        display: none;
      }
      
    .picture {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 230px;
        height: 220px;
        background-color: #FFcdbe;
        border: 2px dashed #50301e;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .picture:hover {
    color: #50301e;
    background: #ffc8b7;
    }
    
    .picture__img {
    max-width: 70%;
    }     

    button:hover{
        background-color: #ffc8b7 ;
        
    }

    input:hover{
        background-color: #ffc8b7 ;
        cursor: pointer;
    }

    select:hover{
        background-color: #ffc8b7 ;
        cursor: pointer;
    }

    textarea:hover{
        background-color: #ffc8b7 ;
        cursor: pointer;
    }
}
