body{
}

.add-uni{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    
    .adicionar{
        display: flex;
        width: 1200px;
        align-items: center;
        justify-content: center;
        background-color: #FFDACF;
        gap: 30px;
        margin: 30px;
        padding: 30px;
    }

    .barra{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 81px;
        border-radius: 20px;
        background-color: #FFDACF;
    }


    .endereco{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .endereco input{
        width: 600px;
        padding: 10px 25px;
        
    }


    .funcionamento{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .inputs{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
        flex-direction: column;
    }

    input{
        background-color: #ffcdbe;
        border: none;
    }
}
