.add-uni {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;

    .resto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px;

        @media (max-width: 768px) {
            flex-direction: column;
            width: auto;
            align-items: center;
            justify-content: center;

        }
    }

    .interativo {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
        width: 630px;
    }

    .adicionar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        background-color: #FFDACF;
        gap: 30px;
        margin: 30px;
        padding: 30px;
        border-radius: 20px;
        width: 100%;

        @media (max-width: 768px) {
            flex-direction: column;
            width: auto;
        }
    }

    .barra {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 20px;
        background-color: #FFDACF;
        color: #50301e;
    }

    .endereco {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 10px;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    .endereco input {
        width: 600px;
        max-width: 600px;
        padding: 10px 25px;
        border-radius: 10px;

        @media (max-width: 768px) {
            width: 100%;
            max-width: 600px;
            padding: 10px 25px;
            border-radius: 10px;
        }
    }

    .funcionamento{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap:12px;
    }

    .maps{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row ;
        gap: 10px;
    }

    .maps input {
        width: 435px;
    }

    .baixo {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: row;
        gap: 60px;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .inputs {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
        flex-direction: column;
    }

    input {
        background-color: #ffcdbe;
        border: none;
        padding: 10px 25px;
        border-radius: 10px;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    button {
        border: none;
        padding: 10px 25px;
        border-radius: 10px;
        background-color: #FFcdbe;
        cursor: pointer;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    .imagem input {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #picture__input {
        display: none;
    }

    .picture {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 230px;
        height: 220px;
        background-color: #FFDACF;
        border: 2px dashed #50301e;
        border-radius: 10px;
        cursor: pointer;

        @media (max-width: 768px) {
            width: 100%;
            height: auto;
        }
    }

    .picture:hover {
        color: #50301e;
        background: #ffccbc;
    }

    .picture__img {
        max-width: 70%;
    }

    button:hover {
        background-color: #ffc8b7;
    }

    input:hover {
        background-color: #ffc8b7;
        cursor: pointer;
    }
}