.add-uni{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;

    .resto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px;
    }
    
    .interativo{
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
    }

    .adicionar{
        display: flex;
        width: 1200px;
        align-items: center;
        justify-content: space-around;
        background-color: #FFDACF;
        gap: 30px;
        margin: 30px;
        padding: 30px;
        border-radius: 20px;
    }

    .barra{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 81px;
        border-radius: 20px;
        background-color: #FFDACF;
    }


    .endereco{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap:10px;
    }

    .endereco input{
        width: 600px;
        padding: 10px 25px;
        border-radius: 10px;
        
    }


    .funcionamento{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap:12px;
    }

    .maps{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row ;
        gap: 10px;
    }

    .maps input{
        width: 580px;
    }

    .baixo{
        display: flex;
        justify-content: flex-end;
        align-items: end;
        flex-direction: row;
        gap: 60px;
    }

    .inputs{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
        flex-direction: column;
    }

    input{
        background-color: #ffcdbe;
        border: none;
        padding: 10px 25px;
        border-radius: 10px;

    }

    button{
        border: none;
        padding: 10px 25px;
        border-radius: 10px;
        background-color: #FFcdbe;
        cursor: pointer;
    }

    .imagem{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        background-color: #FFcdbe;
        border-radius: 20px;
        gap: 10px;
        flex-direction: column;
        font: 500 14px 'K2D';
    }

    button:hover{
        background-color: #ffc8b7 ;
        
    }

    input:hover{
        background-color: #ffc8b7 ;
        cursor: pointer;
    }
}
