.inicio{

    .faixa{
        background-color: #50301e;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 40px ;
    }


    .faixa a img{
        width: 560px;
        height: 400px;
        border-radius: 75px;
        opacity: 50%;
    }

    .add-card{
        display: flex;
        height: 361.25px ;
        background-color: #FFDACF;
        justify-content: center;
        align-items: center;

    }
}