
.inicio {


    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .faixa {
        background-color: #50301e;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 40px;
        width: 100%;

        @media (max-width: 768px) {
            flex-direction: column;
            padding: 20px;
        }
    }

    .faixa a img {
        width: 560px;
        height: 400px;
        border-radius: 75px;
        transition: all 0.4s;

        @media (max-width: 768px) {
            width: 100%;
            height: auto;
        }
    }

    .faixa a img:hover{
        transform: scale(1.04);
    }

    .slogan {
        margin: 30px;
        color: #50301e;
    }

    .faixa-dois {
        width: 40%;
        padding: 20px;
        background-color: #FFDACF;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        font: 400 20px 'K2D';
        border-radius: 30px;

        @media (max-width: 768px) {
            width: 95%;
            flex-direction: row;
            align-items: flex-start;
            padding: 15px;
            border-radius: 15px;
        }
    }

    .faixa-dois select {
        display: flex;
        justify-content: center;
        align-items: center;
        font: 500 16px 'K2D';
        padding: 5px 10px;
        border-radius: 10px;
        background-color: #FFC5B4;
        border: none;
        color: #50301e;

        @media (max-width: 768px) {
            width: 100%;
            max-width: 150px;
        }
    }

    .cards {
        display: flex;
        align-items: center;
        gap: 30px;
        margin: 50px 40px;
        flex-wrap: wrap;
        width: 1175px;
        
        @media (max-width: 768px) {
            width: auto;
            margin: 30px 20px;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }

    .add-card a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 361px;
        width: 271px;
        gap: 30px;
        text-decoration: none;
        font: 600 18px 'K2D';
        color: #50301e;
        background-color: #f8d6d0;
        border-radius: 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            height: 150px;
            width: 271px;
            gap: 10px;
            padding: 15px;
        }
    }

    .conteudo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}
