.rodape {
    position: static;
    bottom: 0;
    display: flex;
    flex-direction: column; // Adiciona flex-direction para coluna
    padding: 20px;
    background-color: #FFD8D8;
    width: 100%;
    align-items: center;
    justify-content: center; // Alinha o conteúdo ao centro

    .principal {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 28%; // Mantém o gap entre os itens
        width: 100%; // Garante que ocupe toda a largura
    }

    .meio {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }

    nav {
        display: flex;
        width: 100%;
        gap: 30px;
    }

    nav a {
        text-decoration: none;
        font: 600 20px 'K2D';
        color: #50301e;
    }

    .icons {
        display: flex;
        gap: 10px;
    }

    .icons a img {
        width: 30px;
        cursor: pointer;
    }

    // Media query para dispositivos menores
    @media (max-width: 768px) {
        .principal {
            flex-direction: column; // Muda para coluna em telas menores
            gap: 20px; // Reduz o gap
        }

        nav {
            flex-direction: column; // Muda o menu para coluna
            align-items: center; // Centraliza os itens
        }

        nav a {
            font-size: 18px; // Ajusta o tamanho da fonte
        }

        .icons {
            flex-direction: row; // Mantém a direção dos ícones
            justify-content: center; // Centraliza os ícones
        }
    }
}