.rodape {
    position: static;
    bottom: 0;
    display: flex;
    padding: 20px;
    background-color: #FFD8D8;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 15%;
        align-items: center; 
    }

    .principal {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 30%;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 15%;
            align-items: center; 
        }
    }

    .meio {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10%;
       
    }

    nav {
        display: flex;
        width: auto;
        justify-content: center;
        gap: 5%;

        @media (max-width: 768px) {
            flex-direction: column; 
            align-items: center;
            gap: 15%;
        }
    }

    nav a {
        text-decoration: none;
            font: 600 20px 'K2D';
            color: #50301e;
            padding: 10px;

            @media (max-width: 768px) {
                font-size: 30px;
                padding: 11px;
                text-align: center;
                height: auto;
            }
        

        &:hover {
            background-color: rgba(80, 48, 30, 0.1); // Cor de fundo ao passar o mouse
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra suave
        }


    }

    .icons {
        display: flex;
        justify-content: center;
        gap: 10%;
        
        @media (max-width: 768px) {
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            gap: 35%;
        }
    }

    .icons a img {
        margin-top: 30px;
        width: 30px;
        cursor: pointer;

        @media (max-width: 768px) {
            width: 40%;
            max-width: 50px;
        }
    }
}

    

