.rodape {
    position: static;
    bottom: 0;
    display: flex;
    padding: 20px;
    background-color: #FFD8D8;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; 

    .principal {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 30%;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 10%;
        }
    }

    .meio {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10%;
    }

    nav {
        display: flex;
        width: 100%;
        gap: 30%; // Alterado para 20%
        justify-content: center;
        gap:20%;
        
        @media (max-width: 768px) {
            flex-direction: column; 
            gap: 20%; // Alterado para 20%
        }
    }

    nav a {
        text-decoration: none;
        font: 600 20px 'K2D';
        color: #50301e;
        gap:10;
        

        @media (max-width: 768px) {
            font-size: 16px; 
            gap: 10%;
          
        }
    }

    .icons {
        display: flex;
        gap: 10%;
        
        
        
        @media (max-width: 768px) {
            gap: 5%; 
           
        }
    }

    .icons a img {
        width: 100%; // Alterado para 20%
        gap: 10%;
        
        cursor: pointer;

        @media (max-width: 768px) {
            width: 50%; // Alterado para 20%
        }
    }
}